.video-container-evangelion,
.video-container-mikeinel,
.video-container-jjk {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px; /* Default padding for all screen sizes */
}

@media only screen and (min-width: 1025px) {
  .video-container-evangelion iframe,
  .video-container-mikeinel iframe,
  .video-container-jjk iframe {
    width: 100%; /* Set width to 100% to fill the container */
    max-width: 1000px; /* Set a maximum width to prevent overflowing */
    height: 600px; /* Set a fixed height for larger screens */
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .video-container-evangelion iframe,
  .video-container-mikeinel iframe,
  .video-container-jjk iframe {
    width: 80%; /* Adjust width proportionally for screens from 601px to 1024px */
    max-width: 820px; /* Set a maximum width to maintain aspect ratio */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
  }
}

@media only screen and (max-width: 600px) {
  .video-container-evangelion,
  .video-container-mikeinel,
  .video-container-jjk {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .video-container-evangelion iframe,
  .video-container-mikeinel iframe,
  .video-container-jjk iframe {
    width: 100%; /* Adjust width to 100% for screens up to 600px */
    height: auto; /* Let the height adjust automatically */
  }
}







.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.video-container-evangelion,
.video-container-mikeinel,
.video-container-jjk {
  flex: 1;
}


  .accordion-section h2 {
    font-size: 2.5em; 
  }
  
  .accordion-container {
    margin-top: 20px;
  }
  
  .accordion-item {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordion-button {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .active .accordion-content {
    display: block;
  }

  .Videos-tutorials {
    background-color: #be94bc;
  } 

  .Videos-tutorials h2 {
    color: #f4f4f4;
  }

  