

.video-container-evangelion,
.video-container-mikeinel,
.video-container-jjk {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}



@media only screen and (max-width: 600px) {
  .video-container-evangelion,
  .video-container-mikeinel,
  .video-container-jjk {
    padding: 20px;
  }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .video-container-evangelion,
  .video-container-mikeinel,
  .video-container-jjk {
    padding: 30px;
  }
}


@media only screen and (min-width: 1025px) {
  .video-container-evangelion,
  .video-container-mikeinel,
  .video-container-jjk {
    padding: 50px;
  }
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.video-container-evangelion,
.video-container-mikeinel,
.video-container-jjk {
  flex: 1;
}


  .accordion-section h2 {
    font-size: 2.5em; 
  }
  
  .accordion-container {
    margin-top: 20px;
  }
  
  .accordion-item {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .accordion-button {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .active .accordion-content {
    display: block;
  }

  .Videos-tutorials {
    background-color: #be94bc;
  } 

  .Videos-tutorials h2 {
    color: #f4f4f4;
  }

  